main {
  margin: 100px 0;
}

h1 {
  text-align: center;
  margin: 50px 0;
  font-family: "Baloo_Bold";
}

h1 br {
  display: none;
}

#fullPodium {
  display: flex;
  justify-content: center;
  position: relative;
}

.podiumAndText {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.podium {
  margin: 0 15px;
  border-radius: 5px;
  width: 150px;
  display: flex;
  align-self: flex-end;
  position: relative;
}

#podium2 {
  height: 200px;
  background: linear-gradient(to bottom, #bd4f6c 0%, #9e3b55 100%);
}

#podium1 {
  height: 250px;
  background: linear-gradient(to bottom, #f0cf65 0%, #ebc137 100%);
}

#podium3 {
  height: 150px;
  background: linear-gradient(to bottom, #5e9ead 0%, #49828f 100%);
}

h2 {
  width: auto;
  margin: auto;
  font-size: 4rem;
  font-family: "Baloo_SemiBold";
}

h3 {
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 650px) {
  h1 br {
    display: block;
  }

  .podium {
    width: 90px;
    margin: 0 5px;
  }

  #podium2 {
    height: 150px;
    background: linear-gradient(to bottom, #bd4f6c 0%, #9e3b55 100%);
  }

  #podium1 {
    height: 200px;
    background: linear-gradient(to bottom, #f0cf65 0%, #ebc137 100%);
  }

  #podium3 {
    height: 100px;
    background: linear-gradient(to bottom, #5e9ead 0%, #49828f 100%);
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 16px;
  }
}
