/* Tableau des résultats des rencontres */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

h2 {
    text-align: center;
}

/* colonne de largeur fixe */
th:first-child, td:first-child {
    width: 30%;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    border: 1px solid #ddd;
}

/* Titres des sections */
h2, h3 {
    color: #333;
    margin-top: 20px;
}

/* Styles pour les petits écrans */
@media screen and (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}

/* Styles pour les écrans moyens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    table {
        font-size: 16px;
    }

    th, td {
        padding: 12px;
    }
}

/* Styles pour les grands écrans */
@media screen and (min-width: 1025px) {
    table {
        font-size: 18px;
    }

    th, td {
        padding: 15px;
    }
}

/* Media queries pour les petits téléphones spécifiques */
@media screen and (max-width: 475px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 6px;
    }
}

@media screen and (max-width: 275px) {
    table {
        font-size: 10px;
    }

    th, td {
        padding: 4px;
    }
}

@media screen and (max-width: 320px) {
    table {
        font-size: 10px;
    }

    th, td {
        padding: 4px;
    }
}
