@keyframes loader {
  0% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(0px);
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (95px + 220px));
}

.loaderDiv {
  display: flex;
  justify-content: center;
}

.loaderDiv p {
  margin: 0 10px;
}

.container {
  width: 600px;
  border: 2px solid black;
  height: 25px;
  overflow: hidden;
}

.loader {
  width: 600px;
  height: 21px;
  background-color: green;
  transform: translateX(-600px);
  animation: loader 15s linear infinite;
}

.joueurs-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.joueurs-table td,
.joueurs-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.joueurs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.joueurs-table tr:hover {
  background-color: #ddd;
}

.joueurs-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0e9bf7;
  color: white;
}

footer {
  position: relative;
  bottom: 0;
}
