.joueurs-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.joueurs-table td,
.joueurs-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.joueurs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.joueurs-table tr:hover {
  background-color: #ddd;
}

.joueurs-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0E9BF7;
  color: white;
}
