/* loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#content {
  display: none;
}

/* Table styles */
.tables {
  display: none;
}

.joueurs-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.joueurs-table td,
.joueurs-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.joueurs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.joueurs-table tr:hover {
  background-color: #ddd;
}

.joueurs-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0e9bf7;
  color: white;
}

footer {
  position: relative;
  bottom: 0;
}
