:root {
  --footer: footer;
}

html {
  height: 100vh;
}

footer {
  position: relative;
  bottom: 0;
}

h1 {
  height: calc(100vh - (95px + 220px));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  h1 {
    height: auto;
    text-align: center;
    display: block;
    margin: 100px 20px;
  }
}
