/* ========== FOOTER ========== */
footer {
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  height: 170px;
}

footer h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Baloo_Bold";
}

footer div ul {
  font-size: 20px;
}

#first,
#third {
  margin-top: 10px;
}

#second {
  margin-top: 20px;
}

#third {
  display: flex;
  justify-content: space-around;
}

footer div ul img {
  width: 30px;
  height: 30px;
}

#separationMenu {
  border: 1px solid #434343;
  width: 52px;
}

#separationContact {
  border: 1px solid #434343;
  width: 162px;
}

#separationWeb {
  border: 1px solid #434343;
  width: 121px;
}

#one,
#two {
  display: flex;
}

footer div ul#second li div img {
  margin-right: 10px;
  margin-bottom: 10px;
}

#web {
  width: 125px;
}

#brNum {
  display: none;
}

@media screen and (max-width: 900px) {
  footer {
    display: block;
    height: auto;
    padding: 40px 50px;
  }

  .marginDiv {
    margin-top: 50px;
  }

  #brNum {
    display: block;
  }

  #one {
    margin-bottom: 10px;
  }
}
