/* ========== IMG ACCUEIL ========== */
#imgAccueil {
  width: 100%;
}

#imgAccueil2 {
  width: 60%;
  padding: 30px;
  margin: auto;
  display: none;
}

/* ========== NOS ACTUALITÉ ========== */
#content {
  padding: 45px;
}
.link {
  color: rgb(230, 0, 0);
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.titreRubrique {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
}

.titreCategorie {
  font-size: 30px;
  font-weight: 600;
}

.texteRubrique {
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}

#globalRubrique {
  display: flex;
}

#actualite {
  margin-right: 50px;
}

#separationActu {
  height: 0px;
  border: 1px solid #434343;
}

#actuContent {
  margin-top: 18px;
  display: flex;
  height: 325px;
}

#texteActu {
  width: 70%;
}

#imgActu {
  width: 350px;
  background-image: url("images/actu.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

/* ========== À VENIR ========== */
#aVenir {
  width: 90%;
}

#separationEvent {
  height: 0px;
  border: 1px solid #434343;
}

#event {
  width: 92%;
}

#evenement1,
#evenement2,
#evenement3 {
  margin-bottom: 30px;
}

#evenement1 {
  margin-top: 18px;
}

/* ========== VIDEO STAGE ========== */
#stage {
  padding: 45px 0;
  margin-top: 50px;
}

#titreVideo {
  margin-top: 500px;
  font-size: 40px;
  font-weight: 700;
}

video {
  width: 50%;
}

/* ========== CATEGORIE ========== */
#categorie {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

.categorieH3 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.categorieImg {
  width: 380px;
  text-align: center;
}

/* ========== BOUTON INSCRITION ========== */

#inscription {
  background-color: #d4000d;
  width: fit-content;
  padding: 10px 25px;
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  margin: 175px auto;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.74);
  transition: 0.2s;
}

#inscription a {
  color: white;
  text-decoration: underline;
  font-family: "Baloo_Meduim";
}

#inscription:hover {
  transition: 0.2s;
  background-color: #ed0010;
  text-decoration: underline;
}

/* ========== MEDIA QUERRY ========== */
@media screen and (max-width: 1400px) {
  #titreVideo {
    margin-top: 40px;
  }

  #inscriptionDiv {
    margin: 150px 0;
  }

  video {
    width: 70%;
  }
  
    video {
    width: 80%;
  }

  #categorie {
    flex-direction: column;
    gap: 40px;
    margin-top: 200px;
  }

  .categorieDiv {
    width: 480px;
    margin: 30px auto;
  }

  .categorieH3 {
    font-size: 25px;
  }
  
  .categorieImg {
      width: 480px;
  }
}

@media screen and (max-width: 1310px) {
  .titreRubrique {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .titreCategorie {
    font-size: 26px;
    font-weight: 600;
  }

  .texteRubrique {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
  }

  #stage {
    padding: 0px;
  }
}

@media screen and (max-width: 1150px) {
  #globalRubrique {
    display: block;
  }

  #actualite {
    margin: 0;
  }
  
  #actuContent {
      height: 300px;
  }

  #aVenir {
    margin-top: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 1015px) {
  #imgActu {
    width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .titreCategorie {
    font-size: 32px;
  }
}

@media screen and (max-width: 750px) {
  #imgActu {
    display: none;
  }

  #texteActu {
    width: 100%;
  }
  
  #actuContent {
      height: 250px;
  }
}

@media screen and (max-width: 600px) {
  #content {
    padding: 45px 30px;
  }

  #inscription {
    font-size: 30px;
  }

  .texteRubrique {
    font-size: 16px;
  }

  .titreRubrique {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .titreCategorie {
    font-size: 22px;
    font-weight: 600;
  }

  .categorieH3 {
    font-size: 19px;
    font-weight: 600;
  }
  
  .categorieDiv {
      width: 350px;
  }
  
  .categorieImg {
      width: 350px;
  }

  #imgAccueil {
    display: none;
  }

  #imgAccueil2 {
    display: block;
  }

  #inscription {
    font-size: 19px;
  }

  #categorie {
    margin-top: 100px;
  }
  
  #actuContent {
      height: auto;
  }
}

@media screen and (max-width: 430px) {
  video {
    width: 98%;
  }

  #categorie {
    margin-top: 70px;
  }
  
  .categorieDiv {
      width: 300px;
  }
  
  .categorieImg {
      width: 300px;
  }
  
  #imgAccueil2 {
      width: 75%;
  }
}
