/* ========== IMG ACCUEIL ========== */
#imgAccueil {
  width: 100%;
}

#imgAccueil2 {
  width: 60%;
  padding: 30px;
  margin: auto;
  display: none;
}

/* ========== NOS ACTUALITÉ ========== */

.titreRubrique {
  font-size: 36px;
  font-family: "Baloo_ExtraBold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.titreCategorie {
  font-size: 32px;
  font-family: "Baloo_SemiBold", Arial, Helvetica, sans-serif;
}

.texteRubrique {
  font-size: 24px;
  font-family: "Baloo_Regular", Arial, Helvetica, sans-serif;
  text-align: justify;
}

#actualite {
  margin-top: 10px;
  margin-left: 40px;
  width: 56%;
  float: left;
}

#separationActu {
  height: 0px;
  border: 1px solid #434343;
}

#actuContent {
  margin-top: 18px;
  display: flex;
}

#imgActu {
  width: 45%;
  min-width: 290px;
}

#texteActu {
  width: 53%;
  float: right;
}

/* ========== À VENIR ========== */
#aVenir {
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  width: 30%;
}

#separationEvent {
  height: 0px;
  border: 1px solid #434343;
}

#event {
  width: 92%;
}

#evenement1,
#evenement2,
#evenement3 {
  margin-bottom: 30px;
}

#evenement1 {
  margin-top: 18px;
}

/* ========== VIDEO STAGE ========== */
#stage {
  margin-left: 4%;
  margin-top: 500px;
}

#titreVideo {
  margin-top: 500px;
  font-size: 40px;
  font-family: "Baloo_Bold", Arial, Helvetica, sans-serif;
}

video {
  width: 50%;
}

/* ========== CATEGORIE ========== */
#categorie {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.categorieDiv {
  width: 28%;
}

.categorieH3 {
  font-family: "Baloo_Medium", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}

.categorieImg {
  width: 100%;
}

/* ========== BOUTON INSCRITION ========== */

#inscription {
  background-color: #d4000d;
  width: 30%;
  padding: 10px;
  font-size: 36px;
  font-family: "Baloo_SemiBold", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  display: block;
  margin: 175px auto;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.74);
  transition: 0.3s;
}

#inscription a {
  color: white;
  text-decoration: underline;
}

#inscription:hover {
  transition: 0.3s;
  background-color: #ed0010;
}

/* ========== MEDIA QUERRY ========== */
@media screen and (max-width: 1400px) {
  #inscription {
    width: 50%;
  }

  #globalRubrique {
    width: 90%;
    margin: auto;
  }

  #texteActu {
    width: 73%;
  }

  #actualite {
    float: none;
    width: 100%;
    margin: auto;
  }

  #imgActu {
    width: 25%;
  }

  #aVenir {
    float: none;
    width: 100%;
  }

  #event {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }

  #evenement1,
  #evenement2,
  #evenement3 {
    margin: 18px 0;
    width: 27%;
  }

  #titreVideo {
    margin-top: 40px;
  }

  #inscriptionDiv {
    margin: 150px 0;
  }

  video {
    width: 70%;
  }

  #stage {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1150px) {
  #evenement1,
  #evenement2,
  #evenement3 {
    margin: 18px 0;
    width: 30%;
  }
}

@media screen and (max-width: 1015px) {
  #aVenir {
    margin: auto;
    width: 95%;
  }

  #event {
    display: block;
  }

  #texteActu {
    width: 73%;
  }

  #evenement1,
  #evenement2,
  #evenement3 {
    width: 100%;
    margin-bottom: 20px;
  }

  #stage {
    margin-top: 100px;
  }

  video {
    width: 80%;
  }

  #categorie {
    display: block;
    float: none;
    margin-top: 400px;
  }

  .categorieDiv {
    width: 70%;
    margin: 30px auto;
  }

  .categorieH3 {
    font-size: 25px;
  }

  #texteActu {
    width: 60%;
  }

  #imgActu {
    width: 35%;
  }
}

@media screen and (max-width: 900px) {
  #inscription {
    width: 70%;
  }

  #actuContent {
    display: block;
  }

  #imgActu {
    display: block;
    float: none;
    width: 60%;
    margin: auto;
  }

  #texteActu {
    text-align: left;
    width: 50%;
    margin: auto;
    float: none;
    min-width: 290px;
  }

  .texteRubrique {
    display: none;
  }

  .categorieDiv {
    width: 85%;
    margin: 30px auto;
  }

  .titreCategorie {
    font-size: 32px;
  }

  #aVenir {
    margin-top: 75px;
  }
}

@media screen and (max-width: 600px) {
  #inscription {
    width: 80%;
    font-size: 30px;
  }

  .texteRubrique {
    font-size: 18px;
  }

  .titreRubrique {
    font-size: 28px;
    font-family: "Baloo_ExtraBold", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .titreCategorie {
    font-size: 22px;
    font-family: "Baloo_SemiBold", Arial, Helvetica, sans-serif;
  }

  .categorieH3 {
    font-size: 22px;
  }

  #imgAccueil {
    display: none;
  }

  #imgAccueil2 {
    display: block;
  }
}

@media screen and (max-width: 430px) {
  video {
    width: 98%;
  }

  #categorie {
    margin-top: 70px;
  }
}
