/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== BODY ========== */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #202020;
  color: white;
}

#img-Accueil {
  width: 25%;
  display: flex;
  margin: 40px auto 20px auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

#decouvrir {
  letter-spacing: 0.3px;
  padding: 10px;
  box-shadow: 2px 3px 0 1px black;
  border: none;
  margin-top: 60px;
  font-weight: 800;
  cursor: pointer;
}
