body {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

#criteriumInfo {
  max-width: 1000px;
  margin: auto;
  text-align: justify;
  font-size: 20px;
}

section h2 {
  text-align: center;
  font-size: 50px;
}

main h3 {
  font-size: 30px;
  margin-top: 30px;
}

main div p {
  font-size: 20px;
  text-align: justify;
}

section img {
  height: 400px;
  width: auto;
  margin: auto;
}

a:hover {
  color: #ff0000;
}

/* iframe {
  padding: 20px;
  box-shadow: 1px 1px 15px rgb(143, 143, 143);
  border-radius: 15px;
  width: 600px;
  height: 600px;
  display: block;
  margin: 100px auto;
  transition: 0.3s;
}

iframe:hover {
  scale: 1.02;
} */

.email-button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.email-button a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}

.pdf-link {
  display: flex;
  justify-content: justify;
  align-items: center;
  margin: 20px 0;
}

.pdf-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.pdf-link img {
  height: 50px;
  margin-right: 10px;
}

.calendar-container {
  position: absolute;
  top: 70%;
  right: 20px;
  transform: translateY(-50%);
  width: 400px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
}

.calendar-container iframe {
  width: 100%;
  height: 100%;
}

/* Effet Tilt */
.calendar-container:hover {
  transform: translateY(-50%) scale(1.05);
}

@media screen and (max-width: 1500px) {
  .calendar-container {
    position: unset;
    margin: auto;
    margin-top: 400px;
  }
}

@media screen and (max-width: 1050px) {
  #criteriumInfo {
    margin: 0 20px;
  }

  section h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  section img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }

  iframe {
    width: 90%;
    height: 400px;
  }

  section h2 {
    font-size: 30px;
  }

  #criteriumInfo {
    font-size: 16px;
  }

  main div p {
    font-size: 18px;
  }
}

@media screen and (max-width: 475px) {
  section h2 {
    font-size: 24px;
  }

  #criteriumInfo {
    font-size: 14px;
    margin: 0 10px;
  }

  main h3 {
    font-size: 24px;
  }

  main div p {
    font-size: 14px;
  }
}