main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 20px 0 0px 0;
  text-align: center;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 60px;
}

th,
td {
  border: 1px solid #000000;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #c00;
  color: #fff;
}

.lien:hover {
  text-decoration: underline;
}
