main {
  width: 45%;
  margin: 40px auto 100px auto;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Baloo_Bold";
}

#container {
  margin-top: 30px;
}

h2 {
  font-size: 1.7rem;
}

.division {
  margin-bottom: 35px;
}

.content {
  font-size: 1.3rem;
}

.icon-new {
  width: 20px;
  vertical-align: middle;
}
