main {
  width: 45%;
  margin: 30px auto;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Baloo_Bold";
}

#container {
  margin-top: 30px;
}

h2 {
  font-size: 1.7rem;
}

.division {
  margin-bottom: 20px;
}

.content {
  display: block;
  font-size: 1.3rem;
}
