main {
  width: 60%;
  margin: 30px auto 100px auto;
  text-align: justify;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.text {
  font-size: larger;
  margin-top: 20px;
  margin: 0 50px;
}

object {
  box-shadow: 3px 3px 5px;
  margin-top: 100px;
  width: 100%;
}

.pdf {
  display: flex;
  justify-content: center;
}

#highlight {
  position: relative;
  color: #1f1f1f;
  text-decoration: underline;
  transition: 0.2s;
}

#highlight:hover {
  color: #3b3b3b;
  transition: 0.2s;
}

#liFirst {
  margin-bottom: 10px;
}

/* ========== MEDIA QUERRY ========== */
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .text {
    margin: 30px 25px;
  }

  object {
    height: 50vh;
  }
}
