@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.title {
    font-family: Montserrat;
    margin-top: 20px;
    text-align: center;
}

.text {
    font-family: Montserrat;
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

object {
    height: 1200px;
    width: 50%;
    margin-top: 30px;
}

.pdf {
    display: flex;
    justify-content: center;
}




#highlight {
    position: relative;
    color: #333;
    text-decoration: underline;
  }
  
  #highlight:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #F2BB05;
    transition: width 0.3s ease-in-out;
  }
  
  #highlight:hover:before {
    width: 100%;
  }
  
  
  