main {
  padding: 100px 0;
}

.tables {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 3rem;
}

.tables h2 {
  font-size: 1.8rem;
}

.tabtitre {
  font-weight: bold;
  background-color: rgb(99, 99, 99);
  font-size: 1.3rem;
}

.table-classement {
  margin-top: 75px;
  margin-bottom: 75px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
}

table,
td {
  border: 1px solid #333;
}

td {
  padding: 10px;
}

.tabtitre td {
  padding: 15px;
}

.tables a {
  font-size: 0.9rem;
}

.tables a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 50px 0;
  }

  .tables {
    padding: 0.5rem;
    overflow-x: auto;
  }

  table {
    font-size: 0.9rem;
  }

  .tabtitre td {
    padding: 10px;
    font-size: 1rem;
  }

  td {
    white-space: nowrap;
  }

  .tables a {
    font-size: 0.8rem;
  }

  .table-classement {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  table {
    font-size: 1rem;
  }

  .tabtitre td {
    padding: 12px;
    font-size: 1.2rem;
  }
}
