html {
  height: 100vh;
}

.ecran {
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (95px + 220px));
}

.carte {
  width: 90%;
  max-width: 440px;
  color: aliceblue;
  text-align: center;
  padding: 30px 30px;
  border-radius: 20px;
  background: linear-gradient(45deg, rgb(51, 51, 255), rgb(0, 177, 212));
}

.carte img {
  width: 150px;
  border-radius: 50%;
}

.carte h2 {
  font-size: 50px;
  font-weight: 600px;
  margin-top: 20px;
}

.carte p {
  font-size: 20px;
  margin: 10px auto;
  max-width: 330px;
}

.carte .reseau img {
  width: 40px;
  border-radius: 50%;
  margin: 10px 5px;
  transition: background 0.5s;
}

.carte .reseau img:hover {
  background: rgb(240, 90, 195);
}

.bouton {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  background: #fff;
  color: rgb(240, 90, 195);
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 20px;
}
