main {
  margin-bottom: 100px;
}

h2 {
  font-size: 32px;
  font-family: "Baloo_Bold";
  margin: 20px 0;
  text-align: center;
}

.imgCoach {
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.coach,
.manager {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 30px 0;
  text-align: center;
}

/* Coaches Styles */
.coaches {
  background-color: #eee;
  padding: 20px;
}

.coach {
  background-color: #fff;
}

p {
  font-size: 20px;
}

/* Managers Styles */
.managers {
  background-color: #fff;
  padding: 20px;
}

.manager {
  background-color: #eee;
}
