/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Coaches Styles */
.coaches {
  background-color: #eee;
  padding: 20px;
}

.coaches h2 {
  margin-top: 0;
}

.coach {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.coach img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Managers Styles */
.managers {
  background-color: #fff;
  padding: 20px;
}

.managers h2 {
  margin-top: 0;
}

.manager {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.manager img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
h1 {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}


