/* ========== FONTS ========== */
@font-face {
  font-family: "Baloo_Regular";
  src: url(Fonts/static/BalooThambi2-Regular.ttf);
}
@font-face {
  font-family: "Baloo_Medium";
  src: url(Fonts/static/BalooThambi2-Medium.ttf);
}
@font-face {
  font-family: "Baloo_SemiBold";
  src: url(Fonts/static/BalooThambi2-SemiBold.ttf);
}
@font-face {
  font-family: "Baloo_Bold";
  src: url(Fonts/static/BalooThambi2-Bold.ttf);
}
@font-face {
  font-family: "Baloo_ExtraBold";
  src: url(Fonts/static/BalooThambi2-ExtraBold.ttf);
}

/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ========== BODY ========== */
body {
  font-family: "Baloo_Regular", Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
