/* ========== IMG ACCUEIL ========== */
#imgAccueil {
  width: 100%;
}

/* ========== NOS ACTUALITÉ ========== */

.titreRubrique {
  font-size: 36px;
  font-family: "Baloo_ExtraBold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.titreCategorie {
  font-size: 32px;
  font-family: "Baloo_SemiBold", Arial, Helvetica, sans-serif;
}

.texteRubrique {
  font-size: 24px;
  font-family: "Baloo_Regular", Arial, Helvetica, sans-serif;
  text-align: justify;
}

#actualite {
  margin-top: 10px;
  margin-left: 40px;
  width: 56%;
  float: left;
}

#separationActu {
  height: 0px;
  border: 1px solid #434343;
}

#actuContent {
  margin-top: 18px;
  display: flex;
}

#imgActu {
  width: 45%;
}

#texteActu {
  width: 53%;
  float: right;
}

/* ========== À VENIR ========== */
#aVenir {
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  width: 30%;
}

#separationEvent {
  height: 0px;
  border: 1px solid #434343;
}

#event {
  width: 92%;
}

#evenement1,
#evenement2,
#evenement3 {
  margin-bottom: 30px;
}

#evenement1 {
  margin-top: 18px;
}

/* ========== VIDEO STAGE ========== */
#stage {
  margin-left: 4%;
}

#titreVideo {
  margin-top: 500px;
  font-size: 40px;
  font-family: "Baloo_Bold", Arial, Helvetica, sans-serif;
}

video {
  width: 50%;
}

/* ========== CATEGORIE ========== */
#categorie {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.categorieDiv {
  width: 28%;
}

.categorieH3 {
  font-family: "Baloo_Medium", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}

.categorieImg {
  width: 100%;
}

/* ========== BOUTON INSCRITION ========== */

#inscription {
  background-color: #d4000d;
  width: 30%;
  padding: 10px;
  font-size: 36px;
  font-family: "Baloo_SemiBold", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  display: block;
  margin: 175px auto;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.74);
}

#inscription a {
  color: white;
  text-decoration: underline;
}

#inscription a:hover {
  background-color: #ed0010;
}

/* ========== FOOTER ========== */
footer {
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

footer h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Baloo_Bold";
}

footer div ul {
  font-size: 20px;
}

#first,
#third {
  margin-top: 10px;
}

#second {
  margin-top: 20px;
}

#third {
  display: flex;
  justify-content: space-around;
}

footer div ul img {
  width: 30px;
}

#separationMenu {
  border: 1px solid #434343;
  width: 52px;
}

#separationContact {
  border: 1px solid #434343;
  width: 162px;
}

#separationWeb {
  border: 1px solid #434343;
  width: 121px;
}

#one,
#two {
  display: flex;
}

footer div ul#second li div img {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* ========== MEDIA QUERRY ========== */
@media screen and (max-width: 1400px) {
  #actualite {
    float: none;
    width: 95%;
    margin: auto auto 50px auto;
  }

  #imgActu {
    width: 25%;
  }

  #texteActu {
    width: 73%;
  }

  #aVenir {
    float: none;
    width: 95%;
    margin: auto;
  }

  #event {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }

  #evenement1,
  #evenement2,
  #evenement3 {
    margin: 18px 0;
    width: 27%;
  }

  #titreVideo {
    margin-top: 40px;
  }

  #inscription {
    min-width: 430px;
  }

  #inscriptionDiv {
    margin: 150px 0;
  }

  video {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  #categorie {
    display: block;
    margin-top: 60px;
  }

  .categorieDiv {
    width: 70%;
    margin: 30px auto;
  }

  .categorieH3 {
    font-size: 24px;
  }
}
