/* ========== IMG ACCUEIL ========== */
#imgContent {
  height: 420px;
  background-image: url(images/accueil.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.arrow {
  width: 50px;
  position: absolute;
  top: 18vw;
}

#arrowLeft {
  left: 30px;
}

#arrowRight {
  right: 30px;
}

/* ========== NOS ACTUALITÉ ========== */

.titreRubrique {
  font-size: 36px;
  font-family: "Baloo_ExtraBold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.titreCategorie {
  font-size: 32px;
  font-family: "Baloo_ExtraBold", Arial, Helvetica, sans-serif;
}

.texteRubrique {
  font-size: 24px;
  font-family: "Baloo_Regular";
  text-align: justify;
}

#actualite {
  margin-top: 10px;
  margin-left: 40px;
  width: 56%;
  float: left;
}

#separationActu {
  height: 0px;
  border: 1px solid #434343;
}

#actuContent {
  margin-top: 18px;
  display: flex;
}

#imgActu {
  width: 375px;
  height: 250px;
}

#texteActu {
  width: 53%;
  float: right;
}

/* ========== À VENIR ========== */
#aVenir {
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  width: 30%;
}

#separationEvent {
  height: 0px;
  border: 1px solid #434343;
}

#event {
  width: 92%;
}

.titreEvent {
  font-size: 26px;
  font-family: "Baloo_ExtraBold", Arial, Helvetica, sans-serif;
}

#evenement1,
#evenement2,
#evenement3 {
  margin-bottom: 30px;
}

#evenement1 {
  margin-top: 18px;
}
