body {
	font-family: Arial, sans-serif;
	margin: 0;
}
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}
header h1 {
	margin: 0;
}
main {
	padding: 20px;
}
section {
	margin-bottom: 30px;
}
section p{
	text-align: center;
	font-size: larger;
}
section h2 {
	margin-top: 0;
	text-align: center;
	font-size: 50px;
}
main h3{
	font-size: 30px;
}
section img {
	height: 400px;
	width: auto;
	margin: auto;
}
/* Animation de survol */
a:hover {
	color: #ff0000;
}
img:hover {
	opacity: 0.8;
}
.email-button {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}
.email-button a {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 20px;
}
.pdf-link {
	display: flex;
	justify-content: justify;
	align-items: center;
	margin: 20px 0;
}
.pdf-link a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
	font-size: 20px;
}
.pdf-link img {
	height: 50px;
	margin-right: 10px;
}
.calendar-container {
	position: absolute;
	/* positionnement absolu pour la boîte */
	top: 70%;
	/* position verticale au milieu de la page */
	right: 20px;
	/* position horizontale à droite de la page */
	transform: translateY(-50%);
	/* déplacement de la boîte de moitié de sa hauteur vers le haut */
	width: 400px;
	height: 500px;
	padding: 20px;
	background-color: #fff;
	opacity: 0.8;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
	box-sizing: border-box;
}
.calendar-container iframe {
	width: 100%;
	height: 100%;
}
/* Effet Tilt */
.calendar-container:hover {
	transform: translateY(-50%) scale(1.05);
}
