/* CSS code */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
}

#contact-section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: auto;
  margin-bottom: 20px;
}

#contact-section h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.form-group button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #3e8e41;
}

#coach-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#coach-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  transition: 1s;
}

#coach-info img:hover {
  rotate: 360deg;
  transition: 1s;
}

#social-media,
#email {
  margin-bottom: 10px;
}

#social-media h3,
#email h3 {
  margin-top: 0;
}

#social-media p,
#email p {
  margin: 0;
}
