main {
  width: 60%;
  margin: auto;
}

h1 {
  margin: 50px 0;
  font-family: "Baloo Thambi 2", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 50px;
}

h2 {
  margin: 10px 0;
  font-size: 28px;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 18px;
}

#addresse,
#transport,
#gymnase {
  margin-bottom: 75px;
}

#gymnase img,
#map {
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#gymnase img {
  width: 100%;
}

#map_div {
  margin-bottom: 100px;
  margin-bottom: 125px;
}

#map {
  margin-top: 20px;
  height: 400px;
  width: 500px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  main {
    width: 90%;
    margin: auto;
  }

  h1 {
    font-size: 50px;
  }
}
