/* Style pour le bandeau futuriste */
#bandeau {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
  }
  #bandeau img {
    height: 250px;
    margin: 0 10px;
    vertical-align: middle;
  }

  /* Style pour la page d'historique */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  p {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }