main {
  padding: 0 30px;
  margin: 50px 0 100px 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.stage {
  max-width: 700px;
  margin: auto;
}

.stage h2 {
  text-decoration: underline;
}

.stage p,
.stage ul {
  margin-left: 10px;
}

.stage-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group {
  gap: 5px;
}

.stage .docx-link {
  height: 50px;
  margin-right: 10px;
}

.download-doc {
  display: flex;
  align-items: center;
}

.download-doc span {
  font-size: 18px;
}

/*
table {
  border: 1px solid #ddd;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
}

.table-container {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

td[rowspan] {
  border-right: 1px solid #ddd;
}

th {
  background-color: #f1f1f1;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}
*/

@media screen and (max-width: 600px) {
  main {
    padding: 24px;
  }

  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  main {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  /* th,
  td {
    padding: 5px;
  } */
}
