main {
  padding: 30px 80px;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  font-family: "Baloo Thambi 2", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
  margin-top: 30px;
}

h2 {
  font-size: 26px;
  margin-bottom: 5px;
}

#video {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

video {
  width: 500px;
  background-color: black;
  margin-bottom: 10px;
}

.tableau {
  margin-top: 50px;
  margin-bottom: 70px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  border: 2px solid #ccc;
  padding: 20px 30px;
}

#stages {
  margin: 100px 25%;
}

#videoIntro {
  box-shadow: 1px 1px 6px;
}
