main {
  padding: 30px 80px;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  font-family: "Baloo_Bold";
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
  margin-top: 30px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 18px;
}

#video {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

video {
  width: 500px;
  height: 300px;
  background-color: black;
  margin-bottom: 50px;
}

.tableau {
  margin-top: 50px;
  margin-bottom: 70px;
}

table {
  border-collapse: collapse;
  margin: 20px;
}

td {
  border: 2px solid #ccc;
  padding: 10px;
}

#stages {
  margin: 100px 25%;
}

.stagesSection {
  margin-bottom: 50px;
}
